<!DOCTYPE html>
<html ng-app='inventory'>
  <head>
    <meta charset="utf-8">
    <title>Shopular</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <script src="node_modules/angular/angular.js"></script>
  </head>
  <body>
    
    <nav ng-controller='LoginController as loginCtrl' class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#shopular-nav" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Shopular</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="shopular-nav">
          <ul class="nav navbar-nav navbar-right">
            <li ng-show='loginCtrl.loggedInStatus'>
              <a>{{ loginCtrl.loggedIn.username }} Logged in at {{ loginCtrl.loggedIn.time|date:'short' }}</a>
            </li>
          </ul>
          <form class="navbar-form navbar-right" name='loginform'
                class='form-group form-inline' ng-submit='loginform.$valid && loginCtrl.login(loginCtrl.user)'
                ng-show='!loginCtrl.loggedInStatus'>
            <div class="form-group">
              <input type='text' class='form-control' placeholder='Username' ng-model='loginCtrl.user.username'>
            </div>
            <button type="submit" class="btn btn-default">Login</button>
          </form>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div ng-controller='InventoryController as inventoryCtrl' class='container'>
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <form name='addItem' class='form-group' 
              ng-submit='addItem.$valid && inventoryCtrl.addItem(inventoryCtrl.newItem)'>
          <!-- <p ng-show='addItem.nameInput.$touched && !addItem.nameInput.$valid'> enter an item name.</p>
          <p ng-show='addItem.priceInput.$touched && !addItem.priceInput.$valid'> enter an item price.</p>
          <p ng-show='addItem.quantityInput.$touched && !addItem.quantityInput.$valid'> enter an item quantity.</p>
          <p ng-show='addItem.colorInput.$touched && !addItem.colorInput.$valid'> enter an item color.</p>
          <p ng-show='addItem.discountInput.$touched && !addItem.discountInput.$valid'> enter an item discount.</p> -->

          <label for='nameInput'>Item Name</label>
          <input ng-model='inventoryCtrl.newItem.name' class='form-control' type='text' name='nameInput' required placeholder='Name'>
          <label for='colorInput'>Item Color</label>
          <input ng-model='inventoryCtrl.newItem.color' class='form-control' type='text' name='colorInput' required placeholder='Color'>
          <label for='priceInput'>Item Price</label>
          <input ng-model= 'inventoryCtrl.newItem.price' class='form-control' type='number' name='priceInput' min='0' step='.01' required placeholder='0.00'>
          <label for='quantityInput'>Quantity</label>
          <input ng-model='inventoryCtrl.newItem.quantity' class='form-control' type='number' name='quantityInput' min='0' required placeholder='0'>
          <label for='discountInput'>Discount</label>
          <input  ng-model='inventoryCtrl.newItem.discount' class='form-control' type='number' name='discountInput' min='0' value='0'> <br>

          <input class='form-control btn btn-primary submitBtn' type='submit' value='Add Item'>
        </form>
      </div>
      <div class="col-md-3"></div>
    </div>

    <div ng-controller="InventoryController as inventoryCtrl" class="container">
        <div class="col-md-2"></div>
        <div class="col-md-8">
           <h2>Inventory List</h2>
           <table class='table table-striped col-lg-8'>
            <thead>
              <tr>
                <th ng-click='inventoryCtrl.sortType="name"; inventoryCtrl.sortReverse = !sortReverse'>
                  Sort Type (name)
                </th>
                <th ng-click='inventoryCtrl.changeSort("name")'>Name</th>
                <th ng-click='inventoryCtrl.changeSort("price")'>Price</th>
                <th ng-click='inventoryCtrl.changeSort("quantity")'>Quantity</th>
                <th ng-click='inventoryCtrl.changeSort("color")'>Color</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat='item in inventoryCtrl.inventoryList | orderBy:"name":sortType:sortReverse'>
                <td></td> <!-- sort column -->
                <td class='name'>{{item.name}}</td>
                <td>{{inventoryCtrl.getNewPrice(item) | currency:"$" }}
                <img ng-show='item.discount > 0' src='https://tiy-learn-content.s3.amazonaws.com/98350f05-sale_2.png'>
                </td>
                <td>{{item.quantity}}</td>
                <td class='color'>{{item.color}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      <div class="col-md-2"></div>
    </div>

    <div class="container">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <p class="txt-success">Thanks for coming!</p>
        <p class="txt-success">Shopular &copy 2017</p>
      </div>
      <div class="col-md-4"></div>
    </div>

    <script src='src/js/inventory.module.js'></script>
    <script src='src/js/inventory.controller.js'></script>
    <script src='src/js/inventory.service.js'></script>
    <script src='src/js/login.controller.js'></script>
    <script src='src/js/login.service.js'></script>

  </body>
</html>
